@import "tailwindcss";

html {
  background-color: #000;
}

@theme {
  --font-sans: "Monaspace Xenon", monospace;
  --font-serif: "Monaspace Xenon", monospace;
  --font-mono: "Monaspace Krypton", monospace;
  --font-editable: "Monaspace Radon", monospace;
  --font-display: "Monaspace Argon", monospace;
}

@layer base {
  /* Hide all focus rings/visual focus treatments */
  :where(:focus) {
    outline: none;
    box-shadow: none;
  }

  /* Hide scrollbars but keep scrolling functional */
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge Legacy */
  }
  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari, new Edge */
  }

  body {
    --color-fg: --color-amber-300;
  }

  :root {
    overflow: hidden;
  }
}
